body{
background-color:#fff0f5;
}

.vida{
	color:#de3163;
}

.luz{
	color:#c71585;
}

.sol{
	color:#c71585;
}
.z{
	width:300px;
	height:170px;
	padding:10px;
	background-color:#c71585;
}

.cor{
	width:300px;
	padding:10px;
	background-color:#c71585;
}
.flor{
	width:300px;
	padding:10px;
	background-color:#c71585;
}

.mel{
	width:300px;
	padding:10px;
	background-color:#c71585;

}
.tode{
	width:500px;
	height:300px;
	padding:10px;
	background-color:#c71585; 
}

.ta{
	width:100px;
	border-radius:25;
}
.qat{
	width:300px;
	height:170px;
	padding:10px;
	background-color:#c71585;
}
.sal{
	width:300px;
	height:170px;
	padding:10px;
	background-color:#c71585;
}
.ny{
color:#c71585;

}  
	
